name: Generate files
run-name: Generate docs and main .ahk files
on:
  push:
    branches:
      - master
jobs:
  generate_files:
    if: ${{ github.actor }} != "GitHub Actions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Install dependencies
        run: pip3 install -r requirements.txt
      - name: Run Python script
        run: python3 main.py
      - name: Configure git user
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      - name: Stage possible new files
        run: git add .
      - name: Commit changes
        id: commit
        continue-on-error: true
        run: 'git commit -m "Generated files after ${{ github.sha }}"'
      - name: Push changes
        if: steps.commit.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git push origin master
