name: Release
run-name: Create release
on:
  push:
    branches:
      - master
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
      - name: Install dependencies
        run: pip3 install -r requirements.txt
      - name: Run sorting
        run: python3 main.py sort
      - name: Run docs creation
        run: python3 main.py docs
      - name: Configure git user
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
      - name: Stage possible new files
        run: git add .
      - name: Commit changes
        id: commit
        continue-on-error: true
        run: 'git commit -m "Generated files after ${{ github.sha }}"'
      - name: Push changes
        if: steps.commit.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: git push origin master
      - name: Run creation of files
        run: python3 main.py main-files
      - name: Run creation of dist.zip
        run: python3 main.py dist
      - name: Create a release
        uses: comnoco/create-release-action@v2.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
      - name: Add files to release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ github.run_number }}
          files: dist.zip
